@media screen and (min-width: 768px) {
  .Dashboard__col {
    display: inline-block;
    float: left;
  }

  .Dashboard__grid:after {
    content: "";
    display: table;
    clear: both;
  }

  .Dashboard__left {
    width: 400px;
  }

  .Dashboard__right {
    width: calc(100% - 400px);
  }
}

